/target/
**/target/*
/tmp/
**/tmp/*
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/polygenesis-craftsman/src/test/java/io/polygenesis/craftsman/custom
/polygenesis-craftsman/src/test/java/com/oregor/genesis
/polygenesis-craftsman/src/test/java/com/viabill/genesis
